/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/*--------------------------------------------------------------
# Service
--------------------------------------------------------------*/
.elementor .aarambha-kits-service-wrapper {
  padding: 30px 30px 30px 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.elementor .aarambha-kits-service-wrapper .icon-wrap .icon i {
  color: mediumpurple;
  font-size: 48px;
}
.elementor .flex-row.aarambha-kits-service-wrapper .icon-wrap .image,
.elementor .flex-row.aarambha-kits-service-wrapper .icon-wrap .icon {
  margin-right: 25px;
}
.elementor .flex-row-reverse.aarambha-kits-service-wrapper .icon-wrap .image,
.elementor .flex-row-reverse.aarambha-kits-service-wrapper .icon-wrap .icon {
  margin-left: 25px;
}
.elementor .flex-column.aarambha-kits-service-wrapper .icon-wrap .image,
.elementor .flex-column.aarambha-kits-service-wrapper .icon-wrap .icon {
  margin-bottom: 25px;
}
.elementor .flex-column-reverse.aarambha-kits-service-wrapper .icon-wrap .image,
.elementor .flex-column-reverse.aarambha-kits-service-wrapper .icon-wrap .icon {
  margin-top: 25px;
}
.elementor .aarambha-kits-service-wrapper .details-wrap {
  max-width: 100%;
  width: 100%;
}
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-title {
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #151515;
}
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-content,
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-content p {
  margin: 0;
}
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-content p,
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-content p:last-child {
  margin-bottom: 5px;
}
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-content{
  padding-bottom: 10px
}
.elementor .aarambha-kits-service-wrapper .details-wrap .entry-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6em;
  color: #151515;
}
.elementor .aarambha-kits-service-wrapper .details-wrap .button-wrap .button-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #151515;
}


@media only screen and (max-width: 1024px) {

.elementor .aarambha-kits-service-wrapper {
  padding: 30px 15px 30px 15px;
}

}

@media only screen and (max-width: 479px) {
.elementor .aarambha-kits-service-wrapper {
  display: block;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  padding-top: 0;
}
.aarambha-kits-service-wrapper .icon-wrap {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
.aarambha-kits-service-wrapper .icon-wrap .icon {
  margin: 0 !important;
}
.aarambha-kits-service-wrapper .button-wrap {
  text-align: center;
  display: block;
}

}