/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*--------------------------------------------------------------
# Post Layout 1
--------------------------------------------------------------*/
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper {
    position: relative;
    height: 100%;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 35px 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap>*.element-order:not(:last-child) {
    padding-bottom: 15px;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-title {
    font-weight: 500;
    padding-bottom: 0;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta,
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-excerpt p {
    margin: 0;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-categories>* {
    background-color: #289dcc;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta .byline img {
    border-radius: 50%;
}

.grid-overlay.aarambha-kits-posts-wrapper .post-thumbnail-wrap {
    position: relative;
}

.grid-overlay.aarambha-kits-posts-wrapper .post-thumbnail-wrap:after,
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .post-thumbnail-wrap:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65%;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-title,
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-title a,
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap a,
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap a *,
.aarambha-kits-block-posts-1-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta {
    color: #fff;
}

.aarambha-kits-posts-wrapper .aarambha-kits-entry-meta>div {
    position: relative;
}

.aarambha-kits-posts-wrapper .aarambha-kits-entry-meta>div:last-child {
    padding-right: 0;
}

.aarambha-kits-block-posts-1-container .aarambha-kits-entry-meta>div::before {
    background-color: #fff;
}

.aarambha-kits-block-posts-1-container .columns .column.grid-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.aarambha-kits-block-posts-1-container .column.grid-column .column {
    min-width: 50%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    padding: 0;
}

.aarambha-kits-block-posts-1-container .column.grid-column .column:first-child {
    min-width: 100%;
}

.aarambha-kits-block-posts-1-container.content-layout-4 .column.grid-column .column:nth-child(2n) {
    padding-right: calc(3px/2);
}

.aarambha-kits-block-posts-1-container.content-layout-4 .column.grid-column .column:nth-child(3n) {
    padding-left: calc(3px/2);
}

.aarambha-kits-block-posts-1-container .columns {
    margin-left: calc(-3px/2);
    margin-right: calc(-3px/2);
}

.aarambha-kits-block-posts-1-container .columns>.column {
    padding-right: calc(3px/2);
    padding-left: calc(3px/2);
}

.aarambha-kits-block-posts-1-container .column.grid-column,
.aarambha-kits-block-posts-1-container .columns {
    row-gap: 3px;
}

.aarambha-kits-block-posts-1-container .column .post-thumbnail-wrap a {
    display: inline-block;
}

.aarambha-kits-block-posts-1-container .column .post-thumbnail-wrap a {
    padding-bottom: 457px;
}

.aarambha-kits-block-posts-1-container .column.grid-column .column:first-child .post-thumbnail-wrap a {
    padding-bottom: 249px;
}

.aarambha-kits-block-posts-1-container .column.grid-column .column:nth-child(2n) .post-thumbnail-wrap a,
.aarambha-kits-block-posts-1-container .column.grid-column .column:nth-child(3n) .post-thumbnail-wrap a {
    padding-bottom: 197px;
}

.aarambha-kits-block-posts-1-container .column .post-thumbnail-wrap a .entry-thumb {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
}

.aarambha-kits-block-posts-1-container .entry-excerpt p {
    color: #fff;
}

.aarambha-kits-container.aarambha-kits-block-posts-1-container.content-layout-4 {
    overflow: hidden;
}


@media only screen and (max-width: 991px) {
    .aarambha-kits-block-posts-1-container .aarambha-kits-featured-grid>.column {
        -ms-flex: 100% !important;
        -webkit-box-flex: 100% !important;
        flex: 100% !important;
        max-width: 100% !important;
    }
}


@media only screen and (max-width: 479px) {
    .aarambha-kits-block-posts-1-container .column.grid-column .column:nth-child(2n) {
        padding-right: 0;
    }

    .aarambha-kits-block-posts-1-container .column.grid-column .column:nth-child(3n) {
        padding-left: 0;
    }

    .aarambha-kits-block-posts-1-container .column.grid-column .column {
        min-width: 100%;
    }
}