/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/*--------------------------------------------------------------
# News Ticker
--------------------------------------------------------------*/
.aarambha-kits-block-news-ticker-container .aarambha-kits-block-heading-wrap {
  margin-bottom: 6px;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap {
  position: relative;
  overflow: hidden;
  background-color:#289dcc;
  color:#fff;
  font-size:18px;
  min-height: 45px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, auto) 1fr;
  grid-template-columns: minmax(200px, auto) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li {
  list-style: none;
  width: 100%;
  text-align: left;
  margin: 0;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a {
  height: 30px;
  color:#fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul .js-marquee li a .entry-title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a .entry-title {
  margin-bottom: 0;
  font-size: 20px;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a .publish-date {
  font-weight: 500;
  padding: 5px 25px 5px;
  color: #FFFFFF;
  border-radius: 4px;
  background-color: #DA0E2B;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a.flex-row .publish-date {
    margin-right: 8px;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a.flex-row-reverse .publish-date {
    margin-left: 8px;
}
.aarambha-kits-block-news-ticker-container.style-2 .aarambha-kits-block-heading-wrap {
  margin-bottom: 0;
  z-index: 99;
  border-bottom-width: 0 !important;
  margin-top: 0;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li {
  text-align: left;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap .flex-row-reverse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap .aarambha-kits-block-heading-wrap.icon-active {
  margin: 0;
}
@media only screen and (max-width: 767px){
  .aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap {
    -ms-grid-columns:none;
    grid-template-columns:none;
  }
  .aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul,
  .aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a {
    height: 55px !important;
  }
}
@media only screen and (max-width: 479px){
  .aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul,
  .aarambha-kits-block-news-ticker-container .aarambha-kits-news-ticker-wrap ul li a {
    height: 75px !important;
  }
}