/*--------------------------------------------------------------
# Featured Post
--------------------------------------------------------------*/
.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper.overlay-content {
    position: relative;
}

.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper.overlay-content .aarambha-kits-post-detail-wrap {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
}

.aarambha-kits-featured-posts-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aarambha-kits-featured-posts-container .blog-post-large .aarambha-kits-post-detail-wrap {
    border: none;
}

.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper.d-flex .post-thumbnail-wrap,
.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper.d-flex .aarambha-kits-post-detail-wrap {
    width: 50%;
}

.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper .aarambha-kits-post-detail-wrap>*.element-order {
    padding: 10px 15px;
}

.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper .aarambha-kits-post-detail-wrap .entry-categories>* {
    background-color: #289dcc;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.aarambha-kits-featured-posts-container .aarambha-kits-post-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta .byline img {
    border-radius: 50%;
}

.aarambha-kits-featured-posts-container .columns.aarambha-kits-design-grid {
    margin-left: -15px;
    margin-right: -15px;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1300px;
    margin: 0 auto;
    z-index: 9;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.1);
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
    width: 120px;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    width: 68%;
    width: calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    padding-left: 15px;
    background: none;
    padding-bottom: 0;
}

.aarambha-kits-featured-posts-container .aarambha-kits-featured-post .aarambha-kits-post-detail-wrap {
    position: absolute;
    top: 40%;
    z-index: 9;
    left: 0;
    right: 0;
    max-width: 1300px;
    padding: 15px 30px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aarambha-kits-featured-posts-container .aarambha-kits-featured-post .post-thumbnail-wrap:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 95%;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.aarambha-kits-featured-posts-container .post-category {
    background: #289DCC;
    padding: 3px 10px;
    display: inline-block;
}

.aarambha-kits-featured-posts-container .aarambha-kits-featured-post .entry-title {
    margin: 20px 0;
}

.aarambha-kits-featured-posts-container .entry-title a:hover,
.aarambha-kits-featured-posts-container .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta a:hover,
.aarambha-kits-featured-posts-container .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta a:hover span,
.aarambha-kits-featured-posts-container .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta a:hover time {
    color: #289DCC;
}

.aarambha-kits-featured-posts-container .aarambha-kits-featured-post .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aarambha-kits-featured-posts-container .post-category,
.aarambha-kits-featured-posts-container .entry-excerpt p,
.aarambha-kits-featured-posts-container .post-category:hover,
.aarambha-kits-featured-posts-container .entry-title a,
.aarambha-kits-featured-posts-container .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta * {
    color: #fff;
}

.aarambha-kits-featured-posts-container .aarambha-kits-posts-wrapper .aarambha-kits-entry-meta>div::before {
    background: #fff;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts::after {
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .blog-post-list {
    position: relative;
    z-index: 9;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-post-detail-wrap>*:not(:last-child) {
    margin-bottom: 10px;
}

.aarambha-kits-post-detail-wrap .element-excerpt {
    margin-top: 10px;
}

.aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-post-detail-wrap .entry-title {
    padding-bottom: 0;
}


@media only screen and (max-width: 992px) {
    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper {
        display: block;
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts {
        bottom: 10px;
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
        width: 100%;
    }


}


@media only screen and (max-width: 768px) {
    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts {
        position: static;
        padding: 15px 0;
        margin-top: 0;
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts>.column {
        width: 50%;
        max-width: var(--w-50);
    }

    .aarambha-kits-featured-post {
        position: relative;
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts::after {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
        width: 100%;
    }
}


@media only screen and (max-width: 479px) {
    .aarambha-kits-featured-posts-container .aarambha-kits-grid-posts>.column {
        width: 100%;
        max-width: var(--w-100);
    }

    .aarambha-kits-featured-posts-container .aarambha-kits-featured-post .aarambha-kits-post-detail-wrap {
        position: relative;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        z-index: 99;
        margin: 0;
    }
}