/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/*--------------------------------------------------------------
# Posts Layout 3
--------------------------------------------------------------*/
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap >*.element-order:not(:last-child) {
  padding-bottom: 10px;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-title {
    font-weight: 500;
    padding-bottom: 0;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-categories >* {
    background-color: #289dcc;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta .byline img{
    border-radius: 50%;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
  width: 140px;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
  width: calc(100% - 140px);
  width: -webkit-calc(100% - 140px);
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
  padding: 0 0 0 15px;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta,
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-excerpt p{
  margin: 0;
}
.aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper {
  background-color: #F3F3F3;
}
@media only screen and (max-width: 719px) {
  .aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .post-thumbnail-wrap,
  .aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    width: 100% !important;
  }
}
@media only screen and (max-width: 479px){
  .aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper {
    display: block;
  }
  .aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
    width: 100%;
    margin-bottom: 15px;
  }
  .aarambha-kits-block-posts-3-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    padding: 0;
    width: 100%;
  }
}