/*--------------------------------------------------------------
# Posts Layout 4
--------------------------------------------------------------*/
.aarambha-kits-block-posts-4-container .overlay-content .blog-post-large .aarambha-kits-posts-wrapper {
    position: relative;
}

.aarambha-kits-block-posts-4-container .overlay-content .blog-post-large .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    background: none;
    border: none;
}

.aarambha-kits-block-posts-4-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aarambha-kits-block-posts-4-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap>*.element-order:not(:last-child) {
    padding-bottom: 10px;
}

.aarambha-kits-block-posts-4-container .columns.aarambha-kits-columns-wrapper {
    row-gap: 0;
}

.aarambha-kits-block-posts-4-container .column>*.blog-post-list:not(:last-child) .aarambha-kits-posts-wrapper,
.aarambha-kits-block-posts-4-container .column .blog-post-large .aarambha-kits-posts-wrapper {
    margin-bottom: 15px;
}

.aarambha-kits-block-posts-4-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-title {
    font-weight: 500;
    padding-bottom: 0;
}

.aarambha-kits-block-posts-4-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .entry-categories>* {
    background-color: #289dcc;
    padding: 5px 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}

.aarambha-kits-block-posts-4-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap .aarambha-kits-entry-meta .byline img {
    border-radius: 50%;
}

.aarambha-kits-block-posts-4-container .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap:not(.overlay-content .blog-post-large .aarambha-kits-post-detail-wrap) {
    background-color: #F3F3F3;
}

.blog-post-list .aarambha-kits-posts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.blog-post-list .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
    width: 200px;
}

.blog-post-list .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    width: calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
    padding-left: 10px;
}

.overlay-content .blog-post-large .post-thumbnail-wrap {
    position: relative;
}

.overlay-content .blog-post-large .post-thumbnail-wrap::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 65%;
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.75));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.column-2 .blog-post-list .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
    width: 170px;
}

.column-2 .blog-post-list .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
    width: 68%;
    width: calc(100% - 170px);
    width: -webkit-calc(100% - 170px);
}

.aarambha-kits-block-posts-4-container .columns[data-columns-lg="1"] .blog-post-list {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1023px) {
    .aarambha-kits-block-posts-4-container .columns[data-columns-md="1"] .blog-post-list {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .aarambha-kits-block-posts-4-container .columns[data-columns="1"] .blog-post-list {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 576px) {
    .aarambha-kits-block-posts-4-container .columns[data-columns="1"] .blog-post-list {
        margin-bottom: 20px;
    }

    .blog-post-list .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
        width: 100%;
    }

    .blog-post-list .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
        width: 100%;
    }
}

@media only screen and (max-width: 479px) {
    .aarambha-kits-block-posts-4-container .overlay-content .blog-post-large .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
        position: static;
        background: rgba(0, 0, 0, 0.5);
    }

    .column-2 .blog-post-list .aarambha-kits-posts-wrapper .post-thumbnail-wrap {
        width: 100%;
    }

    .column-2 .blog-post-list .aarambha-kits-posts-wrapper .aarambha-kits-post-detail-wrap {
        width: 100%;
        padding: 10px 0 0;
    }

    .aarambha-kits-block-posts-4-container .columns[data-columns="1"] .blog-post-list {
        margin-bottom: 20px;
    }
}